* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    background-image: url("../public/question-mark-2492009.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
    color: #fff;
}

/*Cabeçalho*/
#navbar {
    
    width: 100%;
    height: auto;
    background: #000000;
    color: #ffffff;
     
 }
 a{
    text-decoration: none;
    color: #fff;
 }
 #navbar-container {
     color: #fff;
     width: 80vw ;
     height: 100%;
     text-align: center;
     margin: auto;
     display: flex;
 }
 
 .img {
     width: 10vw;
     height: auto;
 }
 
 #navbar-itens {
     color: #fff;
     display: flex;
     list-style: none;
     margin: auto;
     margin-right: 0;
     font-size: 2vw;
 }
 #navbar-itens >li >a:hover {
     cursor: pointer;
     color: #ff3b93;
 }
 
 #navbar-itens li {
     margin-left: 4vw;
 }

    /*Rodapé*/
.roda{
    background-color: #000;
    width: 80vw;
    display: flex;
    align-items: center;
    margin: auto ;
    padding: 2%;
    border: 1px solid grey;
    justify-content: space-around;
    
    
}
.roda > p{
    margin:  auto;
}
.copy{
    color: #fff;
    font-size: 2vw;
}
.oi {
    width: 10vw;
    height: auto;
    margin: auto;
}

/*header*/
button  {
    color: #000;
    cursor: pointer;
    width: 3vw;
}
button > a{
    color: #141313;
}


#showcase h1 {
    color: #fff;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    
}

#showcase p {
    display: flex;
    color: #fff;
    justify-content: center;
    font-size: 2vw;
    padding-bottom: 2%;
}

#showcase .container {
    margin:auto;
    height: 100%;
    padding: 10vw;
    margin-bottom: 20vh;
}



/*Atividade*/

.container {
    /*fundo*/

    /*elementos*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Pergunta*/

.question-container {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    
}

.question {
    /*Texto*/
    color: #fff;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
}


/*Respostas*/
.answers-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    margin: auto;

}

.next-question {
    margin-top: 2vh;
}

.button {
    font-size: 1.5vw;
    font-weight: bold;
    border: 0;
    border-radius: 2vh;
    height: 10vh;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    transition: 0.2s;
    margin-bottom: 1vh;
    
}

.button:not(:disabled):hover{
    filter: brightness(0.8);
}

.answer:disabled {
    cursor: not-allowed;
}

.hide {
    display: none;
}

.correct {
    background-color: rgb(157, 250, 157);
}

.incorrect {
    background-color: rgba(41, 41, 41, 0.253);
}

