* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../public/13\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: roboto;
}
a{
    color: #fff;
    text-decoration: none;
}
/*Cabeçalho*/
#navbar {
    width: 100%;
    height: auto;
    background: #000000;
    color: #ffffff;
     
 }
 
 #navbar-container {
     color: #fff;
     width: 80vw ;
     height: auto;
     text-align: center;
     margin: auto;
     display: flex;
 }
 
 .img {
     width: 10vw;
     height: auto;
    
 }
 
 #navbar-itens {
    color: #fff;
    display: flex;
    list-style: none;
    margin: auto;
    margin-right: 0;
    font-size: 2vw;
 }
 #navbar-itens >li >a:hover {
     cursor: pointer;
     color: #ff3b93;
 }
 
 #navbar-itens li {
     margin-left: 4vw;
 }
    /*Rodapé*/
.roda{
    background-color: #000;
    width: 80%;
    display: flex;
    align-items: center;
    margin: 20px auto 20px;
    padding: 2%;
    border: 1px solid grey;
    justify-content: space-around;
    margin-top: 10%;
    
}
.roda > p{
    margin:  auto;
}
.copy{
    color: #fff;
    font-size: 2vw;
}
.oi {
    width: 10vw;
    height: auto;
    margin: auto;
}
    
/*header*/

#showcase-container {
    color: #fff;
    text-align: center;
    
}

#showcase-container h1{
    padding-bottom: px;
    margin-bottom: 10px;
    font-size: 7vw;
}

#showcase-container h3{
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 3.10rem;
    margin: auto; 
    margin-left: 5%;

}


#showcase-container p {
    font-size: 3.10rem;
    padding: 20px 10px;
    padding-bottom: 120px;
    margin-left: 3%;
}

#showcase-container-body{
    width: 80%;
    margin: auto;
}
.git{
    height: 30vw;
    margin-bottom: -60px;
}
h4{
    
    font-size: 3vw;
}
/* responsivida */