* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../public/13\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: roboto;

}
    /*Botão*/
.btn {
    display: inline-block;
    padding: 30px 70px;
    font-size: 1.5rem;
    background: #111;
    color: #fff;
    border-radius: 50px;
    transition: background 500ms ease;
}

li > a{
    color: #fff;
    text-decoration: none;
}
.btn:hover {
    cursor: pointer;
    background-color: #c9fbff34;
	border-color: #000;
	color: #000;
}



    /*header*/
#showcase{
    background-color: #000;
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom: auto;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

    /*overlay*/


}

#showcase-container {
    
    color: black;
    text-align: center;
    
}

h1{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 10px;
    font-size: 7vw;
    color: #fff;

}
 h3{
    text-align: center;

    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 2.8vw;
    margin: auto;
    color:#fff;
   
}
#showcase-container-body{
    width: 60%;
    border-radius: 40px;
    text-align: center;
    margin: auto;
    background-color:rgba(180.62, 196.99, 255, 0.20);
}
#showcase-container-body-2{
    background-color: rgba(180.62, 196.99, 255, 0.20);
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 40px;
    margin: auto;
}

#showcase-container p {
    font-size: 3.10rem;
    padding: 7px 10px;
    padding-bottom: 100px;
}
/*Cabeçalho*/
#navbar {
    width: 100%;
    height: auto;
    background: #000000;
    color: #ffffff;
     
 }
 
 #navbar-container {
     color: #fff;
     width: 80vw ;
     height: 10%;
     text-align: center;
     margin: auto;
     display: flex;
 }
 
 .img {
     width: 10vw;
     height: auto;
    
 }
 
 #navbar-itens {
    color: #fff;
    display: flex;
    list-style: none;
    margin: auto;
    margin-right: 0;
    font-size: 2vw;
 }
 #navbar-itens >li >a:hover {
     cursor: pointer;
     color: #ff3b93;
 }
 
 #navbar-itens li {
     margin-left: 4vw;
 }

    /*Rodapé*/
.roda{
    background-color: #000;
    width: 80vw;
    display: flex;
    align-items: center;
    margin: 8vw auto 2vw;
    padding: 2%;
    border: 1px solid grey;
    justify-content: space-around;
    
    
}
.roda > p{
    margin:  auto;
}
.copy{
    color: #fff;
    font-size: 2vw;
}
.oi {
    width: 10vw;
    height: auto;
    margin: auto;
}
    

/* cards */
.container{
    justify-content: center;
    display:flex;
    width: 100vw;
    padding-bottom: 10vh;
   

}
.container2{
    display:flex;
    padding-left: 10vw;
}
.container3{
    justify-content: center;
    display:flex;
    
}
.container4{
    display:flex;
    padding-left: 10vw;
}
.container5{
    display:flex;
    padding-left: 10vw;
}
.container6{
    justify-content: center;
    display:flex;
    
}
.container7{
    display:flex;
    padding-left: 10vw;
}
.container7{
    display:flex;
    padding-left: 10vw;
}
.container8{
    display:flex;
    padding-left: 10vw;
}
.card{
    width: 12.5vw;
    height: auto;
    border-radius: 15px;
    margin-top:4vh;
    background-color: #202020;
}
.imagem{
    display: flex;
    justify-content: center;
   
}
.mar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top:5vh;
}
.text-main{
    text-align: center;
    color:#fff;
    font-family: roboto;
    font-weight: 600;
    font-size: 2vw;
}
.desk{
    font-family: roboto;
    color:#fff;
    font-weight: 200;
    text-align: center;
    font-size: 1.5vw;
    
}

